html {
    height: 100%;
    width: 100%;
}

body {
    color: white;
    background: linear-gradient(
        60deg,
        #0f1269,
        #27becf
    );
    height: 100%;
    width: 100%;
}

p {
    font-family: Fredoka One; /* Nice looking font */
}

